BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.GenreType
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name varchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.GenreType ADD CONSTRAINT
	PK_GenreType PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.GenreType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.BookType
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name varchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.BookType ADD CONSTRAINT
	PK_BookType PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.BookType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Series
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name varchar(100) NOT NULL,
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Series ADD CONSTRAINT
	PK_Series PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Series SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Collection
	(
	Id int NOT NULL IDENTITY (1, 1),
	BookTypeId int NOT NULL,
	DateAdded datetime NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Collection ADD CONSTRAINT
	PK_Collection PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Collection ADD CONSTRAINT
	FK_Collection_BookType FOREIGN KEY
	(
	BookTypeId
	) REFERENCES dbo.BookType
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Collection SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Author
	(
	Id int NOT NULL IDENTITY (1, 1),
	FirstName varchar(50) NULL,
	LastName varchar(50) NOT NULL,
	AliasId int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Author ADD CONSTRAINT
	PK_Author PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Author ADD CONSTRAINT
	FK_Author_Author FOREIGN KEY
	(
	AliasId
	) REFERENCES dbo.Author
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Author SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Book
	(
	Id int NOT NULL IDENTITY (1, 1),
	Title varchar(100) NOT NULL,
	AuthorId int NULL,
	ISBN varchar(50) NULL,
	SeriesId int NULL,
	GenreTypeId int NULL,
	CollectionId int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Book ADD CONSTRAINT
	PK_Book PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Book ADD CONSTRAINT
	FK_Book_Author FOREIGN KEY
	(
	AuthorId
	) REFERENCES dbo.Author
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Book ADD CONSTRAINT
	FK_Book_Series FOREIGN KEY
	(
	SeriesId
	) REFERENCES dbo.Series
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Book ADD CONSTRAINT
	FK_Book_Collection FOREIGN KEY
	(
	CollectionId
	) REFERENCES dbo.Collection
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Book ADD CONSTRAINT
	FK_Book_GenreType FOREIGN KEY
	(
	GenreTypeId
	) REFERENCES dbo.GenreType
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Book SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
