<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="BookCatalogService.ServiceBehavior"
        name="BookCatalogService.BookService">
        <endpoint address="" binding="wsHttpBinding" contract="BookCatalogService.IBookService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/BookService/BookService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BookCatalogService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="DatabaseServerName" value="RAINBOW-1\SQLEXPRESS"/>
    <add key="DatabaseName" value="BookCatalog"/>
    <add key="UnitTesterUserName" value="sa"/>
    <add key="UnitTesterPassword" value="sapassword"/>
  </appSettings>
</configuration>
